@import url('https://fonts.googleapis.com/css?family=Open+Sans');



html {
  min-height: 100%;
  margin: 0;

}

body {
  -webkit-text-size-adjust: 100%;
  height: 100%;
  margin: 0;
}



#Titles {
    position: relative;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
}




#profilePic {
  width: 75px;
  height: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px
  border-radius: 75px;
  position: relative;
  margin: auto;
  top: 0px;
  margin-bottom: 20px;
  left: 50%;
  transform: translate(-50%);

}



#credits {
    font-size: 7px;
    text-align: center;
    position: relative;
    left: 50%;
    top: 150px;
    transform: translate(-50%);
}

@media (min-width: 800px) {

  body {
      background: -webkit-radial-gradient(#252525, #202020) fixed;
      /* For Safari 5.1 to 6.0 */
      background: -o-radial-gradient(#252525, #202020) fixed;
      /* For Opera 11.1 to 12.0 */
      background: -moz-radial-gradient(#252525, #202020) fixed;
      /* For Firefox 3.6 to 15 */
      background: radial-gradient(#252525, #202020) fixed;
      /* Standard syntax */
      background-repeat: repeat;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-attachment: fixed;
  }

}


@media (max-width: 800px) {
  body {
    background-color: #202020;
  }




  #Titles {
      position: relative;
      top: -20px;
      left: 50%;
      margin-bottom: 20px;

  }


  #thumbs{
    margin: auto;
    position: relative;
    top: 25px;
    text-align: center;
  }

  #thumb {
    position: relative;
    width: 192px;
    height: 108px;
  }

  #athumb{
    display:inline-block;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }



  #profilePic {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px
    border-radius: 75px;
    position: relative;
    margin: auto;
    top: 50px;
    left: 50%;


  }



  #credits {
      font-size: 7px;
      text-align: center;
      position: relative;
      left: 50%;
      top: 20px;
      transform: translate(-50%);
  }


}
