@import url('https://fonts.googleapis.com/css?family=Open+Sans');


h1 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  color: #f6ff00;
  margin-bottom: 0;
  position: relative;
  top: 0;
}

html {
  min-height: 100%;
  margin: 0;

}

body {
  height: 100%;
  margin: 0;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  color: #e9f100;
  text-align: center;
  position: relative;
}

#title{
  text-align: center;
  position: relative;
  top: 0;

}

#subtitle {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-style: normal;
    font-size: 20px;
    color: #e9f100;
    text-align: center;
    position: relative;
}

#socials {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-style: normal;
    font-size: 20px;
    color: #e9f100;
    text-align: center;
    position: relative;
}

#icons {
    width: 42px;
    height: 42px;
}

#Titles {
    position: relative;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
}


#thumbs{
  margin: auto;
  position: relative;
  top: 150px;
  text-align: center;
}

#thumb {
  position: relative;
  width: 192px;
  height: 108px;
}

#athumb{
  display:inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}



#profilePic {
  width: 150px;
  height: 150px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px
  border-radius: 75px;
  position: relative;
  margin: auto;
  top: 50px;
  left: 50%;
  transform: translate(-50%);

}



#credits {
    font-size: 7px;
    text-align: center;
    position: relative;
    left: 50%;
    top: 150px;
    transform: translate(-50%);
}


@media (min-width: 1000px) {

  body {
      background: -webkit-radial-gradient(#323232, #202020) fixed;
      /* For Safari 5.1 to 6.0 */
      background: -o-radial-gradient(#323232, #202020) fixed;
      /* For Opera 11.1 to 12.0 */
      background: -moz-radial-gradient(#323232, #202020) fixed;
      /* For Firefox 3.6 to 15 */
      background: radial-gradient(#323232, #202020) fixed;
      /* Standard syntax */
      background-repeat: repeat;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-attachment: fixed;
  }

}


@media (max-width: 1000px) {
  body {
    background-color: #202020;
  }

  h1 {
      font-size: 75px;
  }


}
